@media only screen and (max-width: 768px){
  .post-main{
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-width: 100%;
  }
}




.post-main{
    max-width: 50vw;
    /* height: fit-content; */
    /* max-height: 70vh; */
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 5vh;
    margin-left: 12vw;
    padding: 0;
    overflow: hidden;
}
.post-image{
    object-fit: contain;
    width: 100%;
    
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post-text{
    padding: 3%;
    margin-top: 0%;
    padding-top: 0;
    padding-bottom: 0 !important;
}
.post-text span{
    font-weight: normal;
}

.post-header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post-header h4{
  margin-top: 6px;
}
.post-avatar{
    margin-right: 10px;
}
.post-comments h4{
  padding: 1% 3% 0 3%;
}
.post-comments span{
  font-weight: normal;
}
.post-comment-form{
  display: flex;
}

.post-comment-input{
  outline: none;
  border: none;
  flex: 1;
  padding: 2%;
  border-top: 1px solid lightgray;
}
.post-comment-button{
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  padding: 2%;
  background-color: transparent;
  color: #6082a3;
}

.like-section{
  padding: 2px 0 3px 2%;
  justify-content: center;
}

.like-button{
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 25px;
}
